
@model IEnumerable<Dientes_Sanos_Core_MVC.Models.Modelo_Odontologo>

@{
    ViewData["Title"] = "Profesionales Clinica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row ">
        <div class="col-sm-6 d-flex justify-content-center">
            <h3>Lista de Profesionales</h3>
        </div>
        <div class="col-sm-6 ">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Odontologo">Agregar</a>
        </div>
    </div>
    <br />
    <div class="row d-flex justify-content-center">
        @if (Model.Count() > 0)
        {
        <table class="table table-bordered table-striped mx-auto table-dark tableFixHead">            
            <thead class="text-center">
                <tr>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_ID)</td>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_CODIGO)</td>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_NOMBRE)</td>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_APELLIDO)</td>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_ESPECIALIDAD)</td>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_FEC_NAC)</td>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_ID_TITULO)</td>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_FEC_ELA)</td>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_FEC_ACT)</td>
                    <td class="align-middle">@Html.DisplayNameFor(m => m.ODONT_ESTADO)</td>
                    <td class="align-middle">Acciones</td>
                </tr>
            </thead>
            <tbody class="text-center">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.ODONT_ID</td>
                        <td class="align-middle">@item.ODONT_CODIGO</td>
                        <td class="align-middle">@item.ODONT_NOMBRE</td>
                        <td class="align-middle">@item.ODONT_APELLIDO</td>
                        <td class="align-middle">@item.ODONT_ESPECIALIDAD</td>
                        <td class="align-middle">@item.ODONT_FEC_NAC</td>
                        <td class="align-middle">@item.ODONT_ID_TITULO</td>
                        <td class="align-middle">@item.ODONT_FEC_ELA</td>
                        <td class="align-middle">@item.ODONT_FEC_ACT</td>
                        <td class="align-middle">@item.ODONT_ESTADO</td>
                        <td class="align-middle">
                            <a asp-controller="Odontologo" asp-action="Edit" asp-route-id="@item.ODONT_ID" class="btn btn-warning">Editar</a>
                            <a asp-controller="Odontologo" asp-action="Delete" asp-route-id="@item.ODONT_ID" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <p>
                No existe ningun registro
            </p>
        }
    </div>
</div>
