@page
@model DetalleModel
@{
    var imagen = "data:image/jpg;base64," + Convert.ToBase64String(Model.MODEL_PACIENTE.DataPaciente.PAC_IMAGEN,
        0, Model.MODEL_PACIENTE.DataPaciente.PAC_IMAGEN.Length);
    var nombre = Model.MODEL_PACIENTE.DataPaciente.PAC_NOMBRE + " " + Model.MODEL_PACIENTE.DataPaciente.PAC_APELLIDO;

}
<div class="container">
    <div class="row text-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>
                            <div class="jumbotron" style="padding-bottom:0px; padding-top:0px; background-color:transparent; margin-bottom:2px;">
                                <h1 class="font-weight-bold" style="padding:15px;">@Model.MODEL_PACIENTE.DataPaciente.PAC_APELLIDO @Model.MODEL_PACIENTE.DataPaciente.PAC_NOMBRE</h1>
                            </div>
                            <div class="card text-center">
                                <div class="card-header ">
                                    <img class="img-fluid rounded mx-auto d-block" src="@imagen" />
                                </div>
                            </div>
                            <hr class="my-4">
                            <blockquote class="blockquote text-center">
                                <footer class="display-4 blockquote-footer">Información sobre el Paciente</footer>
                            </blockquote>
                            <hr class="my-4">
                            <p class="font-weight-bold">El Código del Paciente es :   @Model.MODEL_PACIENTE.DataPaciente.PAC_CODIGO</p>
                            <p class="font-weight-bold">El Sexo del Paciente es : @Model.MODEL_PACIENTE.DataPaciente.PAC_SEXO</p>
                            <p class="font-weight-bold">El RUT del Paciente es : @Model.MODEL_PACIENTE.DataPaciente.PAC_RUT</p>
                            <p class="font-weight-bold">La Fecha de Nacimiento es : @Model.MODEL_PACIENTE.DataPaciente.PAC_FECHA_NAC.ToString("dd/MM/yyyy")</p>
                            <p class="font-weight-bold">La Edad del Paciente es : @Model.MODEL_PACIENTE.DataPaciente.PAC_EDAD</p>
                            <form asp-area="Paciente" asp-page="Registro" method="post">
                                @{
                                    var dataPaciente = JsonConvert.SerializeObject(Model.MODEL_PACIENTE.DataPaciente);
                                }
                                <input type="hidden" name="dataPaciente" value="@dataPaciente" />
                                <input type="submit" value="Editar" class="btn btn-success" style="margin-bottom:10px;">
                            </form>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>