@page "/Paciente/Registro"
@model RegistroModel
@{
    var image = "";
    if (Model.MODEL_PACIENTE.PAC_IMAGEN != null)
    {
        image = "data:image/jpg;base64," + Convert.ToBase64String(Model.MODEL_PACIENTE.PAC_IMAGEN, 0
            , Model.MODEL_PACIENTE.PAC_IMAGEN.Length);
    }
    else
    {
        image = "/images/user_icon.png";
    }

}
<div class="container p-4">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-sm-6 col-md-3">

            </div>
            <div class="col-xs-12 col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center">
                        @if (Model.MODEL_PACIENTE.PAC_ID.Equals(0))
                        {
                            <h3 class="panel-title">Registro de Paciente</h3>
                        }
                        else
                        {
                            <h3 class="panel-title">Actualización de Pacientes</h3>
                        }
                    </div>
                    <div class="panel-body">
                        <div class="card rounded">
                            <div class="card-header" id="headingOne">
                                <div id="header" class="bg-info rounded text-center">
                                    <h2 class="mb-0 t">
                                        @if (Model.MODEL_PACIENTE.PAC_ID.Equals(0))
                                        {
                                            <button class="btn btn-block text-light" type="button">
                                                Ingreso de Información
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-block text-light" type="button">
                                                Actualización de Información
                                            </button>
                                        }

                                    </h2>
                                </div>
                            </div>
                            <div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="card text-center col-md-4 col-lg-4">
                                            <div class="card-header embed-responsive">
                                                <output id="imageUser">
                                                    <img src=@image class="responsive imageUser" />
                                                </output>
                                            </div>
                                            <div class="card-body">
                                                <div class="caption text-center">
                                                    <label class="btn bg-info btn-primary" for="files">Cargar foto</label>
                                                    <input asp-for="MODEL_PACIENTE.AvatarImage" accept="image/*" type="file" id="files">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-lg-8">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    @if (!Model.MODEL_PACIENTE.PAC_ID.Equals(0))
                                                    {
                                                        <label>Profesional:</label>
                                                        @Html.DropDownList("MODEL_PACIENTE.PAC_COD_ODONT", new SelectList(Model.MODEL_PACIENTE.Odontologo_Lista, "Text", "Text"),
                                     new { @class = "form-control" })
                                                    }
                                                    else
                                                    {
                                                        <label>Profesional:</label>
                                                        @Html.DropDownList("MODEL_PACIENTE.PAC_COD_ODONT", new SelectList(Model.MODEL_PACIENTE.Odontologo_Lista, "Text", "Text"),
             "ESCOGA UN PROFESIONAL", new { @class = "form-control" })
                                                    }
                                                    <span asp-validation-for="MODEL_PACIENTE.PAC_COD_ODONT" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>COD Paciente:</label>
                                                    <input asp-for="MODEL_PACIENTE.PAC_CODIGO" type="number" placeholder="COD PAC." readonly="readonly" class="form-control" />
                                                    <span asp-validation-for="MODEL_PACIENTE.PAC_CODIGO" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>RUT Paciente:</label>
                                                    <input asp-for="MODEL_PACIENTE.PAC_RUT" type="number" placeholder="RUT" onkeypress="return SoloNumeros(event)" class="form-control" autofocus />
                                                    <span asp-validation-for="MODEL_PACIENTE.PAC_RUT" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Nombre Paciente:</label>
                                                    <input id="txtPacNom" asp-for="MODEL_PACIENTE.PAC_NOMBRE" placeholder="NOMBRE" onkeypress="return SoloLetras(event)" onblur="LimpiarCampo()" class="form-control"
                                                           Style="text-transform: uppercase" />
                                                    <span asp-validation-for="MODEL_PACIENTE.PAC_NOMBRE" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Apellido Paciente:</label>
                                                    <input asp-for="MODEL_PACIENTE.PAC_APELLIDO" placeholder="APELLIDO"  onkeypress="return SoloLetras(event)"  onblur="LimpiarCampo()" class="form-control"
                                                           Style="text-transform: uppercase" />
                                                    <span asp-validation-for="MODEL_PACIENTE.PAC_APELLIDO" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    @if (!Model.MODEL_PACIENTE.PAC_ID.Equals(0))
                                                    {
                                                        <label>Sexo Paciente:</label>
                                                        @Html.DropDownList("MODEL_PACIENTE.PAC_SEXO", new SelectList(Model.MODEL_PACIENTE.Genero_Lista, "Text", "Text"),
                                     new { @class = "form-control" })
                                                    }
                                                    else
                                                    {
                                                        <label>Sexo Paciente:</label>
                                                        @Html.DropDownList("MODEL_PACIENTE.PAC_SEXO", new SelectList(Model.MODEL_PACIENTE.Genero_Lista, "Text", "Text"),
             "ESCOGA UN SEXO", new { @class = "form-control" })
                                                    }
                                                    <span asp-validation-for="MODEL_PACIENTE.PAC_SEXO" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Fecha de Nacimiento:</label>
                                                    <input id="FecNacVal" asp-for="MODEL_PACIENTE.PAC_FECHA_NAC" type="date" placeholder="FECHA NAC." class="form-control" onchange="ValidarFecha(), ValidadEdad();" max=@DateTime.Now.ToString("yyyy-MM-dd") />
                                                    <span asp-validation-for="MODEL_PACIENTE.PAC_FECHA_NAC" class="text-danger"></span>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Edad Paciente:</label>
                                                    <input id="EdadVal" asp-for="MODEL_PACIENTE.PAC_EDAD" type="number" disabled placeholder="EDAD" class="form-control" />
                                                    <span asp-validation-for="MODEL_PACIENTE.PAC_EDAD" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label>Representante:</label>
                                                <input id="RepPacVal" asp-for="MODEL_PACIENTE.PAC_REPRESENTANTE" type="text" disabled placeholder="REPRESENTANTE" class="form-control" />
                                                <span asp-validation-for="MODEL_PACIENTE.PAC_REPRESENTANTE" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Dirección:</label>
                                                <input asp-for="MODEL_PACIENTE.PAC_DIRECCION" type="text" placeholder="DIRECCION" class="form-control" />
                                                <span asp-validation-for="MODEL_PACIENTE.PAC_DIRECCION" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                @if (!Model.MODEL_PACIENTE.PAC_ID.Equals(0))
                                                {
                                                    <label>Comuna:</label>
                                                    @Html.DropDownList("MODEL_PACIENTE.PAC_COMUNA", new SelectList(Model.MODEL_PACIENTE.Comuna_Lista, "Text", "Text"),
                                 new { @class = "form-control" })
                                                }
                                                else
                                                {
                                                    <label>Comuna:</label>
                                                    @Html.DropDownList("MODEL_PACIENTE.PAC_COMUNA", new SelectList(Model.MODEL_PACIENTE.Comuna_Lista, "Text", "Text"),
         "ESCOGA UNA COMUNA", new { @class = "form-control" })
                                                }
                                                <span asp-validation-for="MODEL_PACIENTE.PAC_COMUNA" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Otras Comunas:</label>
                                                <input asp-for="MODEL_PACIENTE.PAC_OTRAS_COMUNAS" type="text" placeholder="OTRAS COMUNAS" class="form-control" />
                                                <span asp-validation-for="MODEL_PACIENTE.PAC_OTRAS_COMUNAS" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Teléfono Paciente:</label>
                                                <input asp-for="MODEL_PACIENTE.PAC_TELEFONO" type="tel" placeholder="TELEFONO" class="form-control" />
                                                <span asp-validation-for="MODEL_PACIENTE.PAC_TELEFONO" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Correo Paciente:</label>
                                                <input asp-for="MODEL_PACIENTE.PAC_CORREO" type="email" placeholder="CORREO" class="form-control" />
                                                <span asp-validation-for="MODEL_PACIENTE.PAC_CORREO" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Convenio Paciente:</label>
                                                <input asp-for="MODEL_PACIENTE.PAC_CONVENIO" type="text" placeholder="CONVENIO" class="form-control" />
                                                <span asp-validation-for="MODEL_PACIENTE.PAC_CONVENIO" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Previsiones Paciente:</label>
                                                <input asp-for="MODEL_PACIENTE.PAC_PREVISIONES" type="text" placeholder="PREVISIONES" class="form-control" />
                                                <span asp-validation-for="MODEL_PACIENTE.PAC_PREVISIONES" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>Enfermedades Paciente:</label>
                                                <textarea rows="6" asp-for="MODEL_PACIENTE.PAC_OBSERVACIONES" type="text" placeholder="OBSERVACIONES" class="form-control"></textarea>
                                                <span asp-validation-for="MODEL_PACIENTE.PAC_OBSERVACIONES" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="text-center form-group col-md-4 ">
                                            </div>
                                            <div class="text-center form-group col-md-4 ">
                                                @if (Model.MODEL_PACIENTE.PAC_ID.Equals(0))
                                                {
                                                    <button type="submit" class="btn bg-info btn-block text-light">Registro</button>
                                                }
                                                else
                                                {
                                                    <button type="submit" class="btn bg-info btn-block text-light">Actualizar</button>
                                                }
                                            </div>
                                            <div class="text-center form-group col-md-4 ">
                                            </div>
                                            <div class="form-group">
                                                <label class="text-danger">@Html.DisplayFor(m => m.MODEL_PACIENTE.ErrorMessage)  </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section scripts{

    <partial name="_ValidationScriptsPartial">
}
