@model Modelo_Paginador<MODELO_TRATAMIENTO>
@{
    ViewData["Title"] = "TRATAMIENTOS";
}
<div class="container p-4">
    <div class="row">
        <div class="form-group">
            <form asp-area="Presupuesto" asp-controller="Tratamiento" asp-action="Tratamiento" method="get">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" id="filtrar" name="filtrar" placeholder="Buscar" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="submit" value="Buscar" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.List)
        {
            <div class="col-xs-6 col-md-3" style="padding-bottom: 20px;">
                <div class="card text-center">
                    <div class="card-header ">
                        <a asp-route-id="@item.TRA_ID" asp-area="Tratamiento" asp-page="/Account/Detalle">
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <div class="col-md-12">
                            <div class="row justify-content-center">
                                <p> @Html.DisplayFor(modelItem => item.TRA_CONCEPTO)</p>
                            </div>
                            <div class="row justify-content-center">
                                <p>@Html.DisplayFor(modelItem => item.TRA_VALOR)</p>
                            </div>
                            <div class="row justify-content-center">
                                <a class="btn btn-success " asp-route-id="@item.TRA_ID" asp-area="Tratamiento" asp-page="/Account/Detalle">
                                    Detalle
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="text-center">
    Resultados @Html.Raw(Model.Pagi_info)
    <br />
    @Html.Raw(Model.Pagi_navegacion)
</div>
