@model Modelo_Paginador<MODELO_TRATAMIENTO>
@{
    ViewData["Title"] = "Listado de Tratamientos";
}
<div class="container p-4">
    <div>
        <div class="form-group">
            <form asp-area="Presupuesto" asp-controller="Tratamiento" asp-action="Tratamiento" method="get">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <input type="text" id="filtrar" name="filtrar" placeholder="Buscar" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-4">
                            <input type="submit" value="Buscar" class="btn btn-success">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model.List)
        {
            <div class="col-xs-6 col-md-4 col-lg-4" style="padding-bottom: 20px;">
                        <a asp-route-id="@item.TRA_ID" asp-area="Presupuesto" asp-page="/Account/Detalle">
                        </a>
                    <div class="card text-white bg-dark mb-3 text-center">
                        <div class="card-header">@Html.DisplayFor(modelItem => item.TRA_ID)</div>
                        <div class="card-body col-md-12">
                            <h5 class="card-title">Tratamiento # @Html.DisplayFor(modelItem => item.TRA_ID)</h5>
                            <div class="row justify-content-center">
                                <p class="card-text"> @Html.DisplayFor(modelItem => item.TRA_CONCEPTO)</p>
                            </div>
                            <div class="row justify-content-center">
                                <p class="card-text">@Html.DisplayFor(modelItem => item.TRA_VALOR)</p>
                            </div>
                            <div class="row justify-content-center" style="padding-top: 10px;">
                                <a class="btn btn-success " asp-route-id="@item.TRA_ID" asp-area="Presupuesto" asp-page="/Account/Detalle">
                                    Detalle
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>
</div>
<div class="text-center">
    Resultados @Html.Raw(Model.Pagi_info)
    <br />
    @Html.Raw(Model.Pagi_navegacion)
</div>
