@page
@model DetalleModel
@{
   
}
<div class="container">
    <div class="row">
        <div class="col-sm ">
            <div class="card text-center">

                <div class="card-body">
                    <table class="tableCursos">
                        <tbody>
                            <tr>
                                <td>
                                    <p> @Model.MODEL_PACIENTE.DataPaciente.PAC_APELLIDO</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Model.MODEL_PACIENTE.DataPaciente.PAC_NOMBRE </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Model.MODEL_PACIENTE.DataPaciente.PAC_EDAD</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <table class="tableCursos">
                        <tbody>
                            <tr>
                                <th>
                                    Información
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    RUT
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Model.MODEL_PACIENTE.DataPaciente.PAC_RUT</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Nombre Usuario
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p>@nombre</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Teléfono
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Model.MODEL_PACIENTE.DataPaciente.PAC_CODIGO</p>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Email
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <p>@Model.MODEL_PACIENTE.DataPaciente.PAC_COD_ODONT</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form asp-area="Presupuesto" asp-page="Registro" method="post">
                                        @{
                                            var dataTratamiento = JsonConvert.SerializeObject(Model.M.DataPaciente);
                                        }
                                        <input type="hidden" name="dataPaciente" value="@dataTratamiento" />
                                        <input type="submit" value="Editar" class="btn btn-success ">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
